
.right-align-container {
    display: flex;
    justify-content: flex-end; /* 요소들을 컨테이너의 오른쪽 끝으로 정렬 */
}

.card-container {
    width: 100%; /* 또는 다른 적절한 너비 설정 */
    padding: 10px; /* 적절한 패딩 제공 */
}

.card {
    max-width: 400px; /* 카드의 최대 너비 제한 */
}

.custom-button {
    padding: 5px 10px; /* 상하 패딩을 줄임 */
    font-size: 16px; /* 폰트 크기 조절 */
}

.layout-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sidebar {
    flex: 1;
    padding: 20px;
}


.main-content {
    flex: 3;
    padding: 5px;
}
.button-container {
    width: 100%; /* 부모 요소의 너비를 가득 채움 */
    display: flex;
    justify-content: center; /* 버튼을 가운데로 정렬 */
}

.button-container button {
    margin-top: 10px;
    width: 100%; /* 버튼의 너비를 부모 요소의 너비와 동일하게 설정 */
}

.forum-list-container {
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid green; */
}

.forum-table-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.forum-table {
    width: 100%; 
}

.forum-table th, .forum-table td {
    height: 60px;
    vertical-align: middle; 
}

.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.pagination-container {
    display: flex;
    justify-content: right;
}



