.forum {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 5px solid red;
}

.post-container h1 {
    margin-bottom: 10px;
}

.post-container{
    margin-top: 80px;
    margin-left: 100px;
    padding: 10px;
    text-align: left;
    /* border: 5px solid green; */
}

/* .container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #333;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom: 50px;
    border: 10px solid green;
} */




.submit_button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    border: none;
    background: indianred;
    border-radius: 5px;
    margin-top: 40px;
    vertical-align: middle;
    border: 1px solid green;
}

.ck-editor__editable {
    min-height: 20rem;
    min-width: 50rem;

}
