.project-main-header{
    margin-top: 132px;
    margin-bottom: 103px;
    user-select: none;
}
.project-main-header div{
    color: #606060;
    font-size: 30px;
    margin-right: 617px;
    flex-shrink: 0;
}
.project-main-header input{
    padding-left: 13px;
    border-color: #D9D9D9;
    border-width: 1px;
    border-style:double;
    margin-right: 20px;
    flex-shrink: 0;
}
.project-main-header button{
    background-color: #90B54C;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 20px;
    flex-shrink: 0;
}
.project-main-projects{
    display: flex;
}
.project-main-project-container{
    cursor: pointer;
    width: 395px;
    height: 284px;
    border: 1px solid #D9D9D9;
    margin-right: 30px;
    border-radius: 5px;
    transition: scale 0.3s ease;
}
.project-main-project-container:hover{
    scale: 1.05;
}
.project-main-project-title{
    cursor:text;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 30px;
}
.project-main-project-from{
    font-size: 14px;
}
.project-main-project-status{
    font-size: 20px;
    color: #90B54C;
}