.find-account-background-container{
    user-select: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ADC7A1;
    z-index: -1;
}
.find-account-container{
    background-color: #F2EEDF;
    border-radius: 40px;
    margin-left: 10%;
    margin-right: 10%;
    height: 880px;
    width: 1415px;
    display: flex;
    align-items: center;
}

.find-account-field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 539px;
    background-color: white;
    border-radius: 40px;
    margin-left: 72px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.find-pw-field-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 670px;
    background-color: white;
    border-radius: 40px;
    margin-left: 72px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-field{
    outline: none;
    box-sizing: border-box;
    padding: 17px 22px;
    gap: 13px;
    border: none;
    box-shadow: 0 0 2px 1px #CCDDC5;
    border-radius: 35px;
    width: 449px;
    height: 60px;
    transition-property: box-shadow, border;
    transition-duration: 0.4s;
    cursor:text;
}
.input-field:focus{
    box-shadow: 0 0 8px 2px #CCDDC5;
    border: none;
}
.find-account-title{
    font-size: 60px;
    font-weight: bolder;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 92px;
    margin-bottom: 62px;
}
.find-account-button{
    margin-top: 39px;
    cursor: pointer;
    padding: 16px;
    width: 201px;
    height: 60px;
    border: none;
    background: #609740;
    border-radius: 50px;
    transition-duration: 0.2s;
    transition-property: scale;
}
.find-account-button:hover{
    scale: 1.05;
   
}
.filed-text{
    color: #CCDDC5;
    font-size: 14px;
    align-self: flex-start;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-top: 36px;
}